.card {
    max-width: 346px;
    img {
        width: 100%;
        margin-bottom: 30px;
    }
    &_info {
        padding: 30px 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        min-height: 264px;
        h3 {
            @include font($fz: 22px, $fw: 700);
        }
        &_bottom {
            p {
                display: block;
                margin-bottom: 10px;
                @include font($fz: 22px, $fw: 400);
            }
            button {
                @extend .button;
                margin: 0 auto;
            }
        }
    }
}
