.sitefooter {
    background: #302F2F;
    .container {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
    }
    &_left {
        ul {
            display: flex;
            flex-direction: column;
            gap: 27px;
            li {
                a {
                    @include font($fz: 18px, $fw: 600);
                    color: var(--white);
                    &:hover {
                        color: var(--orange);
                    }
                }
            }
        }
    }
    &_right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        &_top {
            @include font($fz: 16px, $fw: 400);
            color: var(--white);
        }
        &_bottom {
            display: flex;
            gap: 20px;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}