.siteheader {
    box-shadow: 0 4px 4px rgba($color: $black, $alpha: .25);
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &_left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1000px;
        h1 {
            @include font($fz: 18px);
        }
         nav {
            ul {
                display: flex;
                gap: 58px;
                @media (max-width: 1440px) {
                    gap: 20px;
                }
                a {
                    @include font($fz: 18px);
                    &:hover {
                        color: var(--orange);
                    }
                }
            }
         }
    }
    &_right {
        display: flex;
        align-items: center;
        gap: 40px;
        @media (max-width: 1440px) {
            gap: 20px;
        }
        a {
            padding: 5px 40px;
            color: var(--white);
            @include font($fz: 18px);
            background: var(--orange);
            height: fit-content;
            border-radius: 50px;
        }
    }
}
