* {
  transition: 0.8s;
  @include font_all(var(--normal-fz));
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background: var(--page-background);
}
// .main {
//   flex: 1 1 auto;
  
// }
.content {
  flex: 1 1 auto;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0  var(--container-padding);
}
.none {
  display: none !important;
}
a {
  cursor: pointer;
}
