.phones {
    a {
        color: var(--white);
        @include font(var(--big-fz), 700);
        margin: 0;
        span {
            color: var(--red);
            @include font(var(--big-fz), 700);
        }
    }
}

.logo_topheader {
    display: flex;
    flex-direction: column;
    img {
        max-width: 200px;
    }
    img:nth-child(1) {
        max-width: 100px;
    }
}

.stomatology-laboratory_services {
    display: flex;
    flex-direction: column;
    li {
        width: 100%;
        a {
            display: flex;
            gap: 15px;
            align-items: center;
            padding: 10px 20px;
            img {
                width: 40px;
                height: 40px;
                overflow: hidden;
                object-fit: contain;
            }
        }
        a:hover {
            color: var(--white);
            background: var(--darkblue);
        }
    }
}

.appointment_to_doctor {
    padding: 15px 30px;
    color: var(--white);
    @include font(var(--big-fz), 600);
    background: var(--darkpink);
    border-radius: var(--border-radius);
    &:hover {
        border-radius: calc(var(--border-radius) + 10px);
    }
    @media (max-width: 1280px) {
        padding: 14px 26px;
    }
}

.link {
    color: var(--darkblue);
    text-decoration: underline;
}