<section class="registration">
    <div class="container">
        <div>
            <h2>Регистрация</h2>
            <form action="" class="registration_form">
                <input type="text" placeholder="Введите своё ФИО*" required>
                <div class="registration_form_center">
                    <input type="tel" placeholder="Введите свой номер телефона*" required>
                    <input type="email" placeholder="Введите свой e-mail*" required>
                </div>
                <input type="submit" value="Регистрация">
            </form>
        </div>
    </div>
</section>