.welcome {
    height: 700px;
    background-image: url(/img/welcome.png);
    background-size: cover;
    color: var(--white);
    @extend .section;
    .container {
        padding-top: 30px;
    }
    h2 {
        @include font($fz: 70px, $fw: 800);
        max-width: 750px;
    }
}