<section class="basket">
    <div class="container">
        <div class="basket_header">
            <h2>Корзина</h2>
            <a href="" class="btn">Оформить заказ</a>
        </div>
        <div class="basket_wrap">
            @@loop("@@pagesPath/components/pages/_card.html", [
                {
                    "link": "#",
                    "image": "card4.png",
                    "name": "Коньки детские раздвижные Nordway Slide",
                    "price": "2 589 ₽",
                    "btn": "Удалить"
                },
                {
                    "link": "#",
                    "image": "card1.png",
                    "name": "Ботинки мужские Outventure Cheget Mid",
                    "price": "3 589 ₽",
                    "btn": "Удалить"
                },
                {
                    "link": "#",
                    "image": "card2.png",
                    "name": "Ботинки утепленные мужские Geox U Ghiacciaio D",
                    "price": "2 589 ₽",
                    "btn": "Удалить"
                },
                {
                    "link": "#",
                    "image": "card3.png",
                    "name": "Рюкзак Skechers",
                    "price": "5 589 ₽",
                    "btn": "Удалить"
                }
            ])
        </div>
    </div>
</section>