<header class="siteheader">
    <div class="container">
        <div class="siteheader_left">
            <img src="/img/logo.svg" alt="">
            <h1>СпортМастер</h1>
            <nav>
                <ul>
                    @@include('_header_menu_items.html',{})
                </ul>
            </nav>
        </div>
        <div class="siteheader_right">
            <a href="">Войти</a>
            <a href="">Регистрация</a>
            <img src="/img/profile.svg" alt="">
            <img src="/img/basket.svg" alt="">
        </div>
    </div>
</header>
