<section class="orders">
    <div class="container">
        <h2>Мои заказы</h2>
        <table class="orders_table">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Дата</th>
                    <th>Стоимость</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>01.01.2024</td>
                    <td>5 589 ₽</td>
                    <td>Доставлен</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>01.01.2034</td>
                    <td>5 589 ₽</td>
                    <td>Подготовка</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>