<section class="profile">
    <div class="container">
        <h2>Мой профиль</h2>
        <div class="profile_wrap">
            <img src="/img/profile.png" alt="" class="profile_wrap_left">
            <div class="profile_wrap_right">
                <div class="profile_wrap_right_info">
                    <h3>Оборок Сергей Валерьевич</h3>
                    <a href="mailto:oborok05@bk.ru">oborok05@bk.ru</a>
                    <a href="tel:+79652289673">+7 965 228 96 73</a>
                </div>
                <a href="#" class="btn">Редактировать</a>
            </div>
        </div>
    </div>
</section>