.section,
.catalog,
.about,
.welcome {
  margin-bottom: 60px;
}

.section_title,
.catalog h2,
.about h2 {
  font-size: 38px;
  margin-bottom: 15px;
}

.button {
  display: block;
  padding: 22px 50px;
  border: 1px solid var(--orange);
  background: transparent;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  color: var(--orange);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.siteheader {
  margin-bottom: 0;
}

.welcome {
  height: 700px;
  background-image: url(/img/welcome.png);
  background-size: cover;
  color: var(--white);
}

.welcome .container {
  padding-top: 30px;
}

.welcome h2 {
  font-size: 70px;
  font-weight: 800;
  max-width: 750px;
}

.about_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}

.about_wrap_left {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 979px;
}

.about_wrap_left img {
  display: block;
  border-radius: 15px;
}

.about_wrap_left_discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 21px 30px;
  color: var(--white);
}

.about_wrap_left_discount p {
  max-width: 500px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.about_wrap_left_discount a {
  padding: 23px 38px;
  font-size: 16px;
  font-weight: 700;
  border: 3px solid var(--orange);
  border-radius: 15px;
}

.about_wrap_right p {
  font-size: 16px;
  font-weight: 400;
}

.catalog_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
}

@media (max-width: 1280px) {
  .catalog_wrap {
    gap: 50px;
  }
}