.new {
    width: 100%;
    img {
        width: 100%;
    }
    &_info {
        padding: 10px 0;
        &_date {
            @include font($fz: 22px, $fw: 400);
            margin-bottom: 20px;
        }
        &_title {
            @include font($fz: 24px, $fw: 700);
        }
    }
}