.news {
    @extend .section;
    h2 {
        @extend .section_title;
    }
    &_wrap {
        display: flex;
        flex-direction: column;
        gap: 30px;
        &_top,
        &_bottom {
            display: grid;
            gap: 50px;
            justify-content: space-between;
            @media (max-width: 1440px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 1280px) {
                grid-template-columns: 1fr;
            }
        }
        &_top {
            grid-template-columns: repeat(2, 800px);
            @media (max-width: 1800px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        &_bottom {
            grid-template-columns: repeat(3, 600px);
            @media (max-width: 1800px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}