<section class="news">
    <div class="container">
        <h2>Новости</h2>
        <div class="news_wrap">
            <div class="news_wrap_top">
                @@loop("_new.html", [
                    {
                        "image": "new1.png",
                        "date": "23 января",
                        "title": "Первый пошел! В Москве состоялся забег «Буран», открывший серию Open Band Trails 2023-го года"
                    },
                    {
                        "image": "new2.png",
                        "date": "3 ноября",
                        "title": "Исследование: 75 минут бега в неделю замедляют старение на 12 лет"
                    }
                ])
            </div>
            <div class="news_wrap_bottom">
                @@loop("_new.html", [
                    {
                        "image": "new3.png",
                        "date": "1 января",
                        "title": "Забег обещаний: 2024 метра в полдень 1 января"
                    },
                    {
                        "image": "new4.png",
                        "date": "6 августа",
                        "title": "Бренду KETTLER исполнилось 75 лет"
                    },
                    {
                        "image": "new5.png",
                        "date": "4 июня",
                        "title": "Новый рекорд Гиннесса: тысяча быстрых официальных марафонов"
                    }
                ])
            </div>
        </div>
    </div>
</section>