.basket {
    @extend .section;
    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        h2 {
            @extend .section_title;
        }
        .btn {
            @extend .button;
        }
    }
    &_wrap {
        display: grid;
        grid-template-columns: repeat(4, 346px);
        justify-content: space-between;
        row-gap: 30px;
        @media (max-width: 1400px) {
            grid-template-columns: repeat(3, 346px);
        }
        @media (max-width: 1280px) {
            grid-template-columns: repeat(2, 346px);
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
}
